img{ width:100px;}
h1{font-family: 'Allerta Stencil', sans-serif;
}
h2{font-family: 'Anton', sans-serif;
}
p{font-family: 'Lobster', cursive;
}
h1{background-color:blue;}
h2{ background-color:red;}
html{background-color:pink;}